{% extends 'central/base.html' %}
{% load static %}

<!-- Title -->
{% block title %}
    Profile
{% endblock title %}

{% block buttons %}
<div class="d-flex" role="button">
    <a class="btn btn-outline-primary mx-2 font-weight-bold" href="{% url 'logout' %}">Log Out</a>
</div>

<div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img class="mx-2 profile-img" title="Profile" src="{% static 'images/userprofile.png' %}" alt="Profile Icon">
    </a>
    <ul class="dropdown-menu" aria-labelledby="profileDropdown">
        <li><a class="dropdown-item" href="{% url 'profile' %}">View Profile</a></li>
        <li><a class="dropdown-item" href="{% url 'profile-edit' %}">Edit Profile</a></li>
    </ul>
</div>

{% endblock buttons %}


{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h2 class="m-3 p-3">Welcome, {{ first_name }}!</h2>
            <div class="d-flex flex-wrap justify-content-around">
                <div class="m-3 p-3" style="flex: 1 0 auto; border-radius: 25px; background-color: #ffeeba;">
                    <h4 class="font-weight-bold">Username</h4>
                    <p class="font-weight-bold">{{ username }}</p>
                </div>
                <div class="m-3 p-3" style="flex: 1 0 auto; border-radius: 25px; background-color: #d4edda;">
                    <h4 class="font-weight-bold">Email</h4>
                    <p class="font-weight-bold">{{ email }}</p>
                </div>
                <div class="m-3 p-3" style="flex: 1 0 auto; border-radius: 25px; background-color: #f8d7da;">
                    <h4 class="font-weight-bold">First Name</h4>
                    <p class="font-weight-bold">{{ first_name }}</p>
                </div>
                <div class="m-3 p-3" style="flex: 1 0 auto; border-radius: 25px; background-color: #cce5ff;">
                    <h4 class="font-weight-bold">Last Name</h4>
                    <p class="font-weight-bold">{{ last_name }}</p>
                </div>
                <div class="m-3 p-3" style="flex: 1 0 auto; border-radius: 25px; background-color: #e2e3e5;">
                    <h4 class="font-weight-bold">Phone Number</h4>
                    <p class="font-weight-bold">{{ phone_number }}</p>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}
