<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Customer Service Inquiry</title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6;">


    <h4>Dear Customer Service Team,</h4>

    <p>I hope this email finds you well. I am {{data.name}} and I hold an account with your organization under the email <strong>{{data.email}}</strong>.</p>

    <h4>What I am Looking For:</h4>
    <p>{{data.query}}</p>

    <p>Looking forward to hearing from you soon.</p>

    <h4>Best Regards,</h4>
    <p><strong>{{data.name}}</strong></p>
    <p>Email: {{data.email}}</p>
    <p>Contact Number: {{data.phone_number}}</p>

</body>
</html>
