<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome to Novus Aurelius</title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6;">

    <p>Hello User,</p>

    <p>Thank you for signing up for Novus Aurelius. We're excited to have you as a new user!</p>

    <p>To ensure the security of your account and verify your email address, please use the following One-Time Password (OTP):</p>

    <h4>One Time Password: {{data.otp}}</h4>

    <p>If you did not attempt to create an account on Novus Aurelius, please disregard this email. Your account will remain secure.</p>

    <p>Please note that the OTP is only valid for a limited time, so make sure to complete the verification process promptly.</p>

    <p>If you have any questions or need assistance, please don't hesitate to contact our support team at <a href="mailto:customerservice@novusaurelius.com">customerservice@novusaurelius.com</a>.</p>

    <h4>Best regards,</h4>
    <p>Team Novusaurelius<br>
    19901 Dover, DE</p>
    
</body>
</html>
